.maincontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Frame2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    justify-content: space-between;
    width: 30%;
    height: 70vh;
    align-items: center

}
.field{
    width: 100%;
}
.Frame1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.Frame3{
    width: 100%;
}
.Frame4{
    width: 100%;

}
.Frame5{
    width: 100%;

}
.Frame6{

}
.Frame7{
    width: 100%;


}
.button{
    background-color:#347E32;
    width: 20%;
    height: 200%;
    border-radius: 20px;
    
}
